In [1]:
"""Name: Yvonne Jiang
Library: Polars
URL: https://github.com/xjiang1/Polars-package-OIM7502-Midterm.git
Description:
Polars is a DataFrame library to manipulate structured data."""

'Name: Yvonne Jiang\nLibrary: Polars\nURL: https://github.com/xjiang1/Polars-package-OIM7502-Midterm.git\nDescription:\nPolars is a DataFrame library to manipulate structured data.'

# 1) Install & Import Polars

In [2]:
pip install polars

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: polars in c:\users\yvonn\anaconda3\lib\site-packages (0.20.10)

In [3]:
import polars as pl

# 2) Reading & writing

### Create Dataframe with different types of data types

In [4]:
#import the "datetime" library to create the data type of date and times
from datetime import datetime

df = pl.DataFrame(
    {
        "integer": [1, 2, 3],
        "date": [
            datetime(2025, 1, 1),
            datetime(2025, 1, 2),
            datetime(2025, 1, 3),
        ],
        "float": [4.0, 5.0, 6.0],
        "string": ["a", "b", "c"],
    }
)

print(df)

shape: (3, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6.0   ┆ c      │
└─────────┴─────────────────────┴───────┴────────┘

### Write the dateframe into a **csv** file

In [5]:
df.write_csv("data/output.csv")  #replace the file location with your location

### Read the **csv** file into a dataframe

In [6]:
df_csv = pl.read_csv("data/output.csv")  #replace the file location with your location
df_csv

shape: (3, 4)
┌─────────┬────────────────────────────┬───────┬────────┐
│ integer ┆ date                       ┆ float ┆ string │
│ ---     ┆ ---                        ┆ ---   ┆ ---    │
│ i64     ┆ str                        ┆ f64   ┆ str    │
╞═════════╪════════════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01T00:00:00.000000 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02T00:00:00.000000 ┆ 5.0   ┆ b      │
│ 3       ┆ 2025-01-03T00:00:00.000000 ┆ 6.0   ┆ c      │
└─────────┴────────────────────────────┴───────┴────────┘

### Write the dataframe into an **Excel** file

In [7]:
#Polars does not have a native Excel reader. 
#Thus, it is needed to download the following external libraries

In [8]:
pip install xlsx2csv

Requirement already satisfied: xlsx2csv in c:\users\yvonn\anaconda3\lib\site-packages (0.8.2)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\yvonn\anaconda3\lib\site-packages (3.2.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
#User workbook=" " to define the file path
df.write_excel(workbook = "data/output.xlxs")  #replace the file location with your location

#for more parameters, check https://docs.pola.rs/py-polars/html/reference/api/polars.DataFrame.write_excel.html

### Read the **Excel** file into a dataframe

In [11]:
df_excel = pl.read_excel(source = "data/output.xlxs")  #replace the file location with your location
df_excel

shape: (3, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ str                 ┆ i64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4     ┆ a      │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5     ┆ b      │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6     ┆ c      │
└─────────┴─────────────────────┴───────┴────────┘

### Write & Read other common data sources file into a dataframe

In [12]:
#Write Parquet
df.write_parquet("data/output.parquet")  #replace the file location with your location

#Read Parquet
df_parquest = pl.read_parquet("data/output.parquet")  #replace the file location with your location
df_parquest

shape: (3, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6.0   ┆ c      │
└─────────┴─────────────────────┴───────┴────────┘

In [13]:
#Write JSON
df_json = pl.DataFrame({"string": ["a", "b", "c", "d"]}) #JSON is a text_based format so we create a dataframe with only string
df_json.write_json("data/output.json")  #replace the file location with your location

#Read JSON
df_json = pl.read_ndjson("data/output.json")  #replace the file location with your location
df_json

shape: (1, 1)
┌───────────────────────────────────┐
│ columns                           │
│ ---                               │
│ list[struct[4]]                   │
╞═══════════════════════════════════╡
│ [{"string","String","",["a", "b"… │
└───────────────────────────────────┘

# 3) Check Data Dictionary

In [14]:
df.schema

OrderedDict([('integer', Int64),
             ('date', Datetime(time_unit='us', time_zone=None)),
             ('float', Float64),
             ('string', String)])

# 4) Combining Dataframes
##### Polars has two ways to combine dataframes

### Join
##### There are many different types of join: inner, left, outer, cross, semi, anti

In [15]:
#use polars to create 2 sample dataframes
combine_df1 = pl.DataFrame(
    {
    "Product_ID": [101, 102, 103, 104, 105, 106, 107],
    "Product_name": ["Watch", "Bag", "Shoes", "Smartphone", "Books", "Oil", "Laptop"],
    "Category": ["Fashion", "Fashion", "Fashion", "Electronics", "Study", "Grocery", "Electronics"],
    "Price": [299.0, 1350.50, 2999.0, 14999.0, 145.0, 110.0, 79999.0],
    "Seller_City": ["Delhi", "Mumbai", "Chennai", "Kolkata", "Delhi", "Chennai", "Bengalore"]
    }
)

combine_df2 = pl.DataFrame(
    {
    "id": [1, 2, 3, 4, 5, 6, 7, 8, 9],
    "name": ["Olivia", "Aditya", "Cory", "Isabell", "Dominic", "Tyler", "Samuel", "Daniel", "Jeremy"],
    "Product_ID": [101, 0, 106, 0, 103, 104, 0, 0, 107],
    "Purchased_Product": ["Watch", "NA", "Oil", "NA", "Shoes", "Smartphone", "NA", "NA", "Laptop"],
    "City": ["Mumbai", "Delhi", "Bangalore", "Chennai", "Chennai", "Delhi", "Kolkata", "Delhi", "Mumbai"]
    }
)

#use polars to inner join the dataframes
joined_inner = combine_df1.join(combine_df2, on = "Product_ID", how = "inner")
print("---Inner Joined---")
print(joined_inner)

#use polars to left join the dataframes
joined_left = combine_df1.join(combine_df2, on = "Product_ID", how = "left")
print("---Left Joined---")
print(joined_left)

#use polars to outer join the dataframes
joined_outer = combine_df1.join(combine_df2, on = "Product_ID", how = "outer")
print("---Outer Joined---")
print(joined_outer)

#use polars to cross join the dataframes
joined_cross = combine_df1.join(combine_df2, how = "cross")
print("---Cross Joined---")
print(joined_cross)

#use polars to semi join the dataframes to include 
#all rows from the left dataframe which join key is also in the right dataframe
joined_semi = combine_df1.join(combine_df2, on = "Product_ID", how = "semi")
print("---Semi Joined---")
print(joined_semi)

#use polars to anti join the dataframes to include 
#all rows from the left dataframe which join key is not in the right dataframe
joined_anti = combine_df1.join(combine_df2, on = "Product_ID", how = "anti")
print("---Anti Joined---")
print(joined_anti)

---Inner Joined---
shape: (5, 9)
┌────────────┬──────────────┬─────────────┬─────────┬───┬─────┬─────────┬──────────────┬───────────┐
│ Product_ID ┆ Product_name ┆ Category    ┆ Price   ┆ … ┆ id  ┆ name    ┆ Purchased_Pr ┆ City      │
│ ---        ┆ ---          ┆ ---         ┆ ---     ┆   ┆ --- ┆ ---     ┆ oduct        ┆ ---       │
│ i64        ┆ str          ┆ str         ┆ f64     ┆   ┆ i64 ┆ str     ┆ ---          ┆ str       │
│            ┆              ┆             ┆         ┆   ┆     ┆         ┆ str          ┆           │
╞════════════╪══════════════╪═════════════╪═════════╪═══╪═════╪═════════╪══════════════╪═══════════╡
│ 101        ┆ Watch        ┆ Fashion     ┆ 299.0   ┆ … ┆ 1   ┆ Olivia  ┆ Watch        ┆ Mumbai    │
│ 106        ┆ Oil          ┆ Grocery     ┆ 110.0   ┆ … ┆ 3   ┆ Cory    ┆ Oil          ┆ Bangalore │
│ 103        ┆ Shoes        ┆ Fashion     ┆ 2999.0  ┆ … ┆ 5   ┆ Dominic ┆ Shoes        ┆ Chennai   │
│ 104        ┆ Smartphone   ┆ Electronics ┆ 14999.0 ┆ … ┆ 6   ┆ Tyler   ┆ Smartphone   ┆ Delhi     │
│ 107        ┆ Laptop       ┆ Electronics ┆ 79999.0 ┆ … ┆ 9   ┆ Jeremy  ┆ Laptop       ┆ Mumbai    │
└────────────┴──────────────┴─────────────┴─────────┴───┴─────┴─────────┴──────────────┴───────────┘
---Left Joined---
shape: (7, 9)
┌────────────┬──────────────┬─────────────┬─────────┬───┬──────┬─────────┬─────────────┬───────────┐
│ Product_ID ┆ Product_name ┆ Category    ┆ Price   ┆ … ┆ id   ┆ name    ┆ Purchased_P ┆ City      │
│ ---        ┆ ---          ┆ ---         ┆ ---     ┆   ┆ ---  ┆ ---     ┆ roduct      ┆ ---       │
│ i64        ┆ str          ┆ str         ┆ f64     ┆   ┆ i64  ┆ str     ┆ ---         ┆ str       │
│            ┆              ┆             ┆         ┆   ┆      ┆         ┆ str         ┆           │
╞════════════╪══════════════╪═════════════╪═════════╪═══╪══════╪═════════╪═════════════╪═══════════╡
│ 101        ┆ Watch        ┆ Fashion     ┆ 299.0   ┆ … ┆ 1    ┆ Olivia  ┆ Watch       ┆ Mumbai    │
│ 102        ┆ Bag          ┆ Fashion     ┆ 1350.5  ┆ … ┆ null ┆ null    ┆ null        ┆ null      │
│ 103        ┆ Shoes        ┆ Fashion     ┆ 2999.0  ┆ … ┆ 5    ┆ Dominic ┆ Shoes       ┆ Chennai   │
│ 104        ┆ Smartphone   ┆ Electronics ┆ 14999.0 ┆ … ┆ 6    ┆ Tyler   ┆ Smartphone  ┆ Delhi     │
│ 105        ┆ Books        ┆ Study       ┆ 145.0   ┆ … ┆ null ┆ null    ┆ null        ┆ null      │
│ 106        ┆ Oil          ┆ Grocery     ┆ 110.0   ┆ … ┆ 3    ┆ Cory    ┆ Oil         ┆ Bangalore │
│ 107        ┆ Laptop       ┆ Electronics ┆ 79999.0 ┆ … ┆ 9    ┆ Jeremy  ┆ Laptop      ┆ Mumbai    │
└────────────┴──────────────┴─────────────┴─────────┴───┴──────┴─────────┴─────────────┴───────────┘
---Outer Joined---
shape: (11, 10)
┌────────────┬────────────┬────────────┬─────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ Product_ID ┆ Product_na ┆ Category   ┆ Price   ┆ … ┆ name    ┆ Product_I ┆ Purchased ┆ City      │
│ ---        ┆ me         ┆ ---        ┆ ---     ┆   ┆ ---     ┆ D_right   ┆ _Product  ┆ ---       │
│ i64        ┆ ---        ┆ str        ┆ f64     ┆   ┆ str     ┆ ---       ┆ ---       ┆ str       │
│            ┆ str        ┆            ┆         ┆   ┆         ┆ i64       ┆ str       ┆           │
╞════════════╪════════════╪════════════╪═════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ 101        ┆ Watch      ┆ Fashion    ┆ 299.0   ┆ … ┆ Olivia  ┆ 101       ┆ Watch     ┆ Mumbai    │
│ null       ┆ null       ┆ null       ┆ null    ┆ … ┆ Aditya  ┆ 0         ┆ NA        ┆ Delhi     │
│ 106        ┆ Oil        ┆ Grocery    ┆ 110.0   ┆ … ┆ Cory    ┆ 106       ┆ Oil       ┆ Bangalore │
│ null       ┆ null       ┆ null       ┆ null    ┆ … ┆ Isabell ┆ 0         ┆ NA        ┆ Chennai   │
│ 103        ┆ Shoes      ┆ Fashion    ┆ 2999.0  ┆ … ┆ Dominic ┆ 103       ┆ Shoes     ┆ Chennai   │
│ 104        ┆ Smartphone ┆ Electronic ┆ 14999.0 ┆ … ┆ Tyler   ┆ 104       ┆ Smartphon ┆ Delhi     │
│            ┆            ┆ s          ┆         ┆   ┆         ┆           ┆ e         ┆           │
│ null       ┆ null       ┆ null       ┆ null    ┆ … ┆ Samuel  ┆ 0         ┆ NA        ┆ Kolkata   │
│ null       ┆ null       ┆ null       ┆ null    ┆ … ┆ Daniel  ┆ 0         ┆ NA        ┆ Delhi     │
│ 107        ┆ Laptop     ┆ Electronic ┆ 79999.0 ┆ … ┆ Jeremy  ┆ 107       ┆ Laptop    ┆ Mumbai    │
│            ┆            ┆ s          ┆         ┆   ┆         ┆           ┆           ┆           │
│ 105        ┆ Books      ┆ Study      ┆ 145.0   ┆ … ┆ null    ┆ null      ┆ null      ┆ null      │
│ 102        ┆ Bag        ┆ Fashion    ┆ 1350.5  ┆ … ┆ null    ┆ null      ┆ null      ┆ null      │
└────────────┴────────────┴────────────┴─────────┴───┴─────────┴───────────┴───────────┴───────────┘
---Cross Joined---
shape: (63, 10)
┌────────────┬────────────┬────────────┬─────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ Product_ID ┆ Product_na ┆ Category   ┆ Price   ┆ … ┆ name    ┆ Product_I ┆ Purchased ┆ City      │
│ ---        ┆ me         ┆ ---        ┆ ---     ┆   ┆ ---     ┆ D_right   ┆ _Product  ┆ ---       │
│ i64        ┆ ---        ┆ str        ┆ f64     ┆   ┆ str     ┆ ---       ┆ ---       ┆ str       │
│            ┆ str        ┆            ┆         ┆   ┆         ┆ i64       ┆ str       ┆           │
╞════════════╪════════════╪════════════╪═════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ 101        ┆ Watch      ┆ Fashion    ┆ 299.0   ┆ … ┆ Olivia  ┆ 101       ┆ Watch     ┆ Mumbai    │
│ 101        ┆ Watch      ┆ Fashion    ┆ 299.0   ┆ … ┆ Aditya  ┆ 0         ┆ NA        ┆ Delhi     │
│ 101        ┆ Watch      ┆ Fashion    ┆ 299.0   ┆ … ┆ Cory    ┆ 106       ┆ Oil       ┆ Bangalore │
│ 101        ┆ Watch      ┆ Fashion    ┆ 299.0   ┆ … ┆ Isabell ┆ 0         ┆ NA        ┆ Chennai   │
│ 101        ┆ Watch      ┆ Fashion    ┆ 299.0   ┆ … ┆ Dominic ┆ 103       ┆ Shoes     ┆ Chennai   │
│ …          ┆ …          ┆ …          ┆ …       ┆ … ┆ …       ┆ …         ┆ …         ┆ …         │
│ 107        ┆ Laptop     ┆ Electronic ┆ 79999.0 ┆ … ┆ Dominic ┆ 103       ┆ Shoes     ┆ Chennai   │
│            ┆            ┆ s          ┆         ┆   ┆         ┆           ┆           ┆           │
│ 107        ┆ Laptop     ┆ Electronic ┆ 79999.0 ┆ … ┆ Tyler   ┆ 104       ┆ Smartphon ┆ Delhi     │
│            ┆            ┆ s          ┆         ┆   ┆         ┆           ┆ e         ┆           │
│ 107        ┆ Laptop     ┆ Electronic ┆ 79999.0 ┆ … ┆ Samuel  ┆ 0         ┆ NA        ┆ Kolkata   │
│            ┆            ┆ s          ┆         ┆   ┆         ┆           ┆           ┆           │
│ 107        ┆ Laptop     ┆ Electronic ┆ 79999.0 ┆ … ┆ Daniel  ┆ 0         ┆ NA        ┆ Delhi     │
│            ┆            ┆ s          ┆         ┆   ┆         ┆           ┆           ┆           │
│ 107        ┆ Laptop     ┆ Electronic ┆ 79999.0 ┆ … ┆ Jeremy  ┆ 107       ┆ Laptop    ┆ Mumbai    │
│            ┆            ┆ s          ┆         ┆   ┆         ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴─────────┴───┴─────────┴───────────┴───────────┴───────────┘
---Semi Joined---
shape: (5, 5)
┌────────────┬──────────────┬─────────────┬─────────┬─────────────┐
│ Product_ID ┆ Product_name ┆ Category    ┆ Price   ┆ Seller_City │
│ ---        ┆ ---          ┆ ---         ┆ ---     ┆ ---         │
│ i64        ┆ str          ┆ str         ┆ f64     ┆ str         │
╞════════════╪══════════════╪═════════════╪═════════╪═════════════╡
│ 101        ┆ Watch        ┆ Fashion     ┆ 299.0   ┆ Delhi       │
│ 103        ┆ Shoes        ┆ Fashion     ┆ 2999.0  ┆ Chennai     │
│ 104        ┆ Smartphone   ┆ Electronics ┆ 14999.0 ┆ Kolkata     │
│ 106        ┆ Oil          ┆ Grocery     ┆ 110.0   ┆ Chennai     │
│ 107        ┆ Laptop       ┆ Electronics ┆ 79999.0 ┆ Bengalore   │
└────────────┴──────────────┴─────────────┴─────────┴─────────────┘
---Anti Joined---
shape: (2, 5)
┌────────────┬──────────────┬──────────┬────────┬─────────────┐
│ Product_ID ┆ Product_name ┆ Category ┆ Price  ┆ Seller_City │
│ ---        ┆ ---          ┆ ---      ┆ ---    ┆ ---         │
│ i64        ┆ str          ┆ str      ┆ f64    ┆ str         │
╞════════════╪══════════════╪══════════╪════════╪═════════════╡
│ 102        ┆ Bag          ┆ Fashion  ┆ 1350.5 ┆ Mumbai      │
│ 105        ┆ Books        ┆ Study    ┆ 145.0  ┆ Delhi       │
└────────────┴──────────────┴──────────┴────────┴─────────────┘

### Concat
##### There are two types of Concat: vertical & horizontal

In [16]:
#Create a new dataframe for horizontal concat
combine_df_h = pl.DataFrame(
    {
    "id": [1, 2, 3, 4, 5, 6, 7],
    "buyer_name": ["Olivia", "Aditya", "Cory", "Isabell", "Dominic", "Tyler", "Samuel"],
    "ProductID": [101, 0, 106, 0, 103, 104, 0],
    "Purchased_Product": ["Watch", "NA", "Oil", "NA", "Shoes", "Smartphone", "NA"],
    "Location": ["Mumbai", "Delhi", "Bangalore", "Chennai", "Chennai", "Delhi", "Kolkata"]
    }
)

# Horizontal concat to make the combined dataframe wider
horizontal_concat = combine_df1.hstack(combine_df_h)
print("---Horizontal Concat---")
print(horizontal_concat)

# Create a new dataframe for vertical concat
combine_df_v = pl.DataFrame(
    {
    "Product_ID": [111, 112, 113, 114, 115, 116, 117],
    "Product_name": ["Water", "Chips", "Boots", "Earphone", "Books", "Water", "Laptop"],
    "Category": ["Grocery", "Grocery", "Fashion", "Electronics", "Study", "Grocery", "Electronics"],
    "Price": [2.99, 2.50, 29.0, 149.0, 45.0, 1.7, 799.0],
    "Seller_City": ["Boston", "Mumbai", "New York", "Kolkata", "NYC", "Chennai", "Bengalore"]
    }
)

# Vertical concat to make the combined dataframe longer
vertical_concat = combine_df1.vstack(combine_df_v)
print("---Vertical Concat---")
print(vertical_concat)

---Horizontal Concat---
shape: (7, 10)
┌────────────┬───────────┬───────────┬─────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Product_ID ┆ Product_n ┆ Category  ┆ Price   ┆ … ┆ buyer_nam ┆ ProductID ┆ Purchased ┆ Location  │
│ ---        ┆ ame       ┆ ---       ┆ ---     ┆   ┆ e         ┆ ---       ┆ _Product  ┆ ---       │
│ i64        ┆ ---       ┆ str       ┆ f64     ┆   ┆ ---       ┆ i64       ┆ ---       ┆ str       │
│            ┆ str       ┆           ┆         ┆   ┆ str       ┆           ┆ str       ┆           │
╞════════════╪═══════════╪═══════════╪═════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 101        ┆ Watch     ┆ Fashion   ┆ 299.0   ┆ … ┆ Olivia    ┆ 101       ┆ Watch     ┆ Mumbai    │
│ 102        ┆ Bag       ┆ Fashion   ┆ 1350.5  ┆ … ┆ Aditya    ┆ 0         ┆ NA        ┆ Delhi     │
│ 103        ┆ Shoes     ┆ Fashion   ┆ 2999.0  ┆ … ┆ Cory      ┆ 106       ┆ Oil       ┆ Bangalore │
│ 104        ┆ Smartphon ┆ Electroni ┆ 14999.0 ┆ … ┆ Isabell   ┆ 0         ┆ NA        ┆ Chennai   │
│            ┆ e         ┆ cs        ┆         ┆   ┆           ┆           ┆           ┆           │
│ 105        ┆ Books     ┆ Study     ┆ 145.0   ┆ … ┆ Dominic   ┆ 103       ┆ Shoes     ┆ Chennai   │
│ 106        ┆ Oil       ┆ Grocery   ┆ 110.0   ┆ … ┆ Tyler     ┆ 104       ┆ Smartphon ┆ Delhi     │
│            ┆           ┆           ┆         ┆   ┆           ┆           ┆ e         ┆           │
│ 107        ┆ Laptop    ┆ Electroni ┆ 79999.0 ┆ … ┆ Samuel    ┆ 0         ┆ NA        ┆ Kolkata   │
│            ┆           ┆ cs        ┆         ┆   ┆           ┆           ┆           ┆           │
└────────────┴───────────┴───────────┴─────────┴───┴───────────┴───────────┴───────────┴───────────┘
---Vertical Concat---
shape: (14, 5)
┌────────────┬──────────────┬─────────────┬─────────┬─────────────┐
│ Product_ID ┆ Product_name ┆ Category    ┆ Price   ┆ Seller_City │
│ ---        ┆ ---          ┆ ---         ┆ ---     ┆ ---         │
│ i64        ┆ str          ┆ str         ┆ f64     ┆ str         │
╞════════════╪══════════════╪═════════════╪═════════╪═════════════╡
│ 101        ┆ Watch        ┆ Fashion     ┆ 299.0   ┆ Delhi       │
│ 102        ┆ Bag          ┆ Fashion     ┆ 1350.5  ┆ Mumbai      │
│ 103        ┆ Shoes        ┆ Fashion     ┆ 2999.0  ┆ Chennai     │
│ 104        ┆ Smartphone   ┆ Electronics ┆ 14999.0 ┆ Kolkata     │
│ 105        ┆ Books        ┆ Study       ┆ 145.0   ┆ Delhi       │
│ …          ┆ …            ┆ …           ┆ …       ┆ …           │
│ 113        ┆ Boots        ┆ Fashion     ┆ 29.0    ┆ New York    │
│ 114        ┆ Earphone     ┆ Electronics ┆ 149.0   ┆ Kolkata     │
│ 115        ┆ Books        ┆ Study       ┆ 45.0    ┆ NYC         │
│ 116        ┆ Water        ┆ Grocery     ┆ 1.7     ┆ Chennai     │
│ 117        ┆ Laptop       ┆ Electronics ┆ 799.0   ┆ Bengalore   │
└────────────┴──────────────┴─────────────┴─────────┴─────────────┘

# 5) Common Data Manipulation Functions

### Sort

In [17]:
df.sort(by = "float")

shape: (3, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6.0   ┆ c      │
└─────────┴─────────────────────┴───────┴────────┘

### Select -- select all columns

In [18]:
df.select(pl.col("*"))  #* means all columns in polars

shape: (3, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6.0   ┆ c      │
└─────────┴─────────────────────┴───────┴────────┘

### Select -- select specific columns

In [19]:
df.select(pl.col("integer", "date"))

shape: (3, 2)
┌─────────┬─────────────────────┐
│ integer ┆ date                │
│ ---     ┆ ---                 │
│ i64     ┆ datetime[μs]        │
╞═════════╪═════════════════════╡
│ 1       ┆ 2025-01-01 00:00:00 │
│ 2       ┆ 2025-01-02 00:00:00 │
│ 3       ┆ 2025-01-03 00:00:00 │
└─────────┴─────────────────────┘

### Filter -- create subset of the dataframe

In [20]:
df.filter(pl.col("integer").is_between(1, 2))

shape: (2, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      │
└─────────┴─────────────────────┴───────┴────────┘

### Add Columns

In [21]:
#add a new column which calculates the value of integer +10 and name it as "integer+10"
df.with_columns((pl.col("integer") + 10).alias("integer+10"))

shape: (3, 5)
┌─────────┬─────────────────────┬───────┬────────┬────────────┐
│ integer ┆ date                ┆ float ┆ string ┆ integer+10 │
│ ---     ┆ ---                 ┆ ---   ┆ ---    ┆ ---        │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    ┆ i64        │
╞═════════╪═════════════════════╪═══════╪════════╪════════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      ┆ 11         │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      ┆ 12         │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6.0   ┆ c      ┆ 13         │
└─────────┴─────────────────────┴───────┴────────┴────────────┘

### Group by

In [22]:
#use combine_df1 as an example
combine_df1.group_by("Category").len()  #remember to have len() to show the sum of grouped results

shape: (4, 2)
┌─────────────┬─────┐
│ Category    ┆ len │
│ ---         ┆ --- │
│ str         ┆ u32 │
╞═════════════╪═════╡
│ Study       ┆ 1   │
│ Grocery     ┆ 1   │
│ Fashion     ┆ 3   │
│ Electronics ┆ 2   │
└─────────────┴─────┘

# 6) Lazy API

##### Lazy API allows users to specify a sequence of operations without immediately running them. These operations will be saved as a computational graph and only run when necessary. Thus, Polars can optimize queries before execution, catch schema errors before the data is processed, and perform memory-efficient queries on datasets that don’t fit into memory. Another benefit is that lazy API can execute the query in batches which is like streaming, but this feature is still in development and not all lazy API operations support streaming.

### Create LazyFrame (dataframe with Lazy API)

In [23]:
#Create lazyframe by reading from a local data file
lazy_create = (
    pl.scan_csv(f"data/cast.csv")  #pl.scan_() starts lazy API 
    #replace the file location with your location
    .with_columns(pl.col("name").str.to_uppercase())  #convert the "name" column to uppercase
    .filter(pl.col("n") > 0)  #apply a filter on the "n" column to select values only larger than 0
)

#calling the variable will not execute the query immediately
#Instead, the output will show users the non-optimized plan (explain later)
lazy_create

In [24]:
#Convert an existing dataframe to lazyframe
lazy_existing = pl.DataFrame(df).lazy()  #.lazy() convert the dataframe into a LazyFrame

#calling the variable will not execute the query immediately
#Instead, the output will show users the non-optimized plan (explain later)
lazy_existing

### Lazy API Optimization
##### For any lazy query Polars has both:
1. a non-optimized plan with the set of steps code as we provided it and
2. an optimized plan with changes made by the query optimizer (this is what will be executed by Polars at default)

##### Polars have many optimization methods on query. The example below shows the "Precidate Pushdown" optimization which applys filters as early as possible to reduce the data size before further actions and make queries more memory efficient

In [25]:
# Non-optimized query
non_optimize = (
    pl.scan_csv(f"data/cast.csv")  #replace the file location with your location
    .with_columns(pl.col("name").str.to_uppercase())
    .filter(pl.col("n") > 0)
)

In [26]:
#Show the non-optimized query execution plan with .explain() (read from bottom to top)
print(non_optimize.explain(optimized=False))

FILTER [(col("n")) > (0)] FROM
 WITH_COLUMNS:
 [col("name").str.uppercase()]

    Csv SCAN data/cast.csv
    PROJECT */6 COLUMNS

In [27]:
#Show the optimized query execution plan with .explain() (read from bottom to top)
print(non_optimize.explain(optimized=True))

#The optimized queries apply filter first and then execute other queries to reduce the data size and make queries more memory efficient
#If execute the queries, Polars will execute the optimized queries by default

 WITH_COLUMNS:
 [col("name").str.uppercase()]

    Csv SCAN data/cast.csv
    PROJECT */6 COLUMNS
    SELECTION: [(col("n")) > (0)]

### Execute Query
##### There are three ways to execute queries:
1. Execute the full dataset
2. Execute the full dataset when the dataset is larger than memory available
3. Execute partial dataset

In [28]:
#1. Execute the full dataset
Execute_full = (
    pl.scan_csv(f"data/cast.csv")
    .with_columns(pl.col("name").str.to_uppercase())
    .filter(pl.col("n") > 0)
    .collect()  #use .collect() at the end to execute
)

#Now the query is executed and output is correctly generated
Execute_full

shape: (2_115_119, 6)
┌─────────────────────────┬──────┬────────────────────────┬─────────┬────────────────────────┬─────┐
│ title                   ┆ year ┆ name                   ┆ type    ┆ character              ┆ n   │
│ ---                     ┆ ---  ┆ ---                    ┆ ---     ┆ ---                    ┆ --- │
│ str                     ┆ i64  ┆ str                    ┆ str     ┆ str                    ┆ i64 │
╞═════════════════════════╪══════╪════════════════════════╪═════════╪════════════════════════╪═════╡
│ Closet Monster          ┆ 2015 ┆ BUFFY #1               ┆ actor   ┆ Buffy 4                ┆ 31  │
│ Suuri illusioni         ┆ 1985 ┆ HOMO $                 ┆ actor   ┆ Guests                 ┆ 22  │
│ Battle of the Sexes     ┆ 2017 ┆ $HUTTER                ┆ actor   ┆ Bobby Riggs Fan        ┆ 10  │
│ Lapis, Ballpen at       ┆ 2014 ┆ JORI ' DANILO' JURADO  ┆ actor   ┆ Jaime (young)          ┆ 9   │
│ Diploma, a Tru…         ┆      ┆ JR.                    ┆         ┆                        ┆     │
│ When the Man Went South ┆ 2014 ┆ TAIPALETI 'ATU'AKE     ┆ actor   ┆ Two Palms - Ua'i Paame ┆ 8   │
│ …                       ┆ …    ┆ …                      ┆ …       ┆ …                      ┆ …   │
│ Stuttur Frakki          ┆ 1993 ┆ SVEINBJÖRG             ┆ actress ┆ Flugfreyja             ┆ 24  │
│                         ┆      ┆ ÞÓRHALLSDÓTTIR         ┆         ┆                        ┆     │
│ Foxtrot                 ┆ 1988 ┆ LILJA ÞÓRISDÓTTIR      ┆ actress ┆ Dóra                   ┆ 24  │
│ Niceland (Population.   ┆ 2004 ┆ SIGRÍÐUR JÓNA          ┆ actress ┆ Woman in Bus           ┆ 26  │
│ 1.000.002)              ┆      ┆ ÞÓRISDÓTTIR            ┆         ┆                        ┆     │
│ Skammdegi               ┆ 1985 ┆ DALLA ÞÓRÐARDÓTTIR     ┆ actress ┆ Hjúkrunarkona          ┆ 9   │
│ U.S.S.S.S...            ┆ 2003 ┆ KRISTÍN ANDREA         ┆ actress ┆ Afgr.dama á bensínstöð ┆ 17  │
│                         ┆      ┆ ÞÓRÐARDÓTTIR           ┆         ┆                        ┆     │
└─────────────────────────┴──────┴────────────────────────┴─────────┴────────────────────────┴─────┘

In [29]:
#2. Execute the full dataset when the dataset is larger than memory available
Execute_full_larger = (
    pl.scan_csv(f"data/cast.csv")
    .with_columns(pl.col("name").str.to_uppercase())
    .filter(pl.col("n") > 0)
    .collect(streaming=True) 
    #use .collect() at the end to execute and add "streaming=True" argument to use streaming method to process data in batches
)

#Now the query is executed and output is correctly generated
Execute_full

shape: (2_115_119, 6)
┌─────────────────────────┬──────┬────────────────────────┬─────────┬────────────────────────┬─────┐
│ title                   ┆ year ┆ name                   ┆ type    ┆ character              ┆ n   │
│ ---                     ┆ ---  ┆ ---                    ┆ ---     ┆ ---                    ┆ --- │
│ str                     ┆ i64  ┆ str                    ┆ str     ┆ str                    ┆ i64 │
╞═════════════════════════╪══════╪════════════════════════╪═════════╪════════════════════════╪═════╡
│ Closet Monster          ┆ 2015 ┆ BUFFY #1               ┆ actor   ┆ Buffy 4                ┆ 31  │
│ Suuri illusioni         ┆ 1985 ┆ HOMO $                 ┆ actor   ┆ Guests                 ┆ 22  │
│ Battle of the Sexes     ┆ 2017 ┆ $HUTTER                ┆ actor   ┆ Bobby Riggs Fan        ┆ 10  │
│ Lapis, Ballpen at       ┆ 2014 ┆ JORI ' DANILO' JURADO  ┆ actor   ┆ Jaime (young)          ┆ 9   │
│ Diploma, a Tru…         ┆      ┆ JR.                    ┆         ┆                        ┆     │
│ When the Man Went South ┆ 2014 ┆ TAIPALETI 'ATU'AKE     ┆ actor   ┆ Two Palms - Ua'i Paame ┆ 8   │
│ …                       ┆ …    ┆ …                      ┆ …       ┆ …                      ┆ …   │
│ Stuttur Frakki          ┆ 1993 ┆ SVEINBJÖRG             ┆ actress ┆ Flugfreyja             ┆ 24  │
│                         ┆      ┆ ÞÓRHALLSDÓTTIR         ┆         ┆                        ┆     │
│ Foxtrot                 ┆ 1988 ┆ LILJA ÞÓRISDÓTTIR      ┆ actress ┆ Dóra                   ┆ 24  │
│ Niceland (Population.   ┆ 2004 ┆ SIGRÍÐUR JÓNA          ┆ actress ┆ Woman in Bus           ┆ 26  │
│ 1.000.002)              ┆      ┆ ÞÓRISDÓTTIR            ┆         ┆                        ┆     │
│ Skammdegi               ┆ 1985 ┆ DALLA ÞÓRÐARDÓTTIR     ┆ actress ┆ Hjúkrunarkona          ┆ 9   │
│ U.S.S.S.S...            ┆ 2003 ┆ KRISTÍN ANDREA         ┆ actress ┆ Afgr.dama á bensínstöð ┆ 17  │
│                         ┆      ┆ ÞÓRÐARDÓTTIR           ┆         ┆                        ┆     │
└─────────────────────────┴──────┴────────────────────────┴─────────┴────────────────────────┴─────┘

In [30]:
#3.Execute partial dataset
Execute_partial = (
    pl.scan_csv(f"data/cast.csv")
    .with_columns(pl.col("name").str.to_uppercase())
    .filter(pl.col("n") > 0)
    .fetch(n_rows=int(10))
    #use .fetch() and define n_rows to decide the number of rows to be executed. 
)

#Now the query is executed and output is correctly generated
Execute_partial

#The output shows that only 6 out of the 10 rows we selected fulfill the requirements

shape: (6, 6)
┌──────────────────────────┬──────┬─────────────────────────┬───────┬────────────────────────┬─────┐
│ title                    ┆ year ┆ name                    ┆ type  ┆ character              ┆ n   │
│ ---                      ┆ ---  ┆ ---                     ┆ ---   ┆ ---                    ┆ --- │
│ str                      ┆ i64  ┆ str                     ┆ str   ┆ str                    ┆ i64 │
╞══════════════════════════╪══════╪═════════════════════════╪═══════╪════════════════════════╪═════╡
│ Closet Monster           ┆ 2015 ┆ BUFFY #1                ┆ actor ┆ Buffy 4                ┆ 31  │
│ Suuri illusioni          ┆ 1985 ┆ HOMO $                  ┆ actor ┆ Guests                 ┆ 22  │
│ Battle of the Sexes      ┆ 2017 ┆ $HUTTER                 ┆ actor ┆ Bobby Riggs Fan        ┆ 10  │
│ Lapis, Ballpen at        ┆ 2014 ┆ JORI ' DANILO' JURADO   ┆ actor ┆ Jaime (young)          ┆ 9   │
│ Diploma, a Tru…          ┆      ┆ JR.                     ┆       ┆                        ┆     │
│ When the Man Went South  ┆ 2014 ┆ TAIPALETI 'ATU'AKE      ┆ actor ┆ Two Palms - Ua'i Paame ┆ 8   │
│ Little Angel (Angelita)  ┆ 2015 ┆ MICHAEL 'BABEEPOWER'    ┆ actor ┆ Chico                  ┆ 9   │
│                          ┆      ┆ VIERA                   ┆       ┆                        ┆     │
└──────────────────────────┴──────┴─────────────────────────┴───────┴────────────────────────┴─────┘

### Schema Check
##### LazyAPI can check the schema before running

In [31]:
schema_check = (
    pl.DataFrame({"letter": ["a", "b", "c"], "bar": [0, 1, 2]})
    .lazy()
    .with_columns(pl.col("letter").round())
    .collect()
)

#The output points out the error within the queries
#The schema check happens before the data is processed when we call collect
#Thus, although round() is the last line of code, the previous lines of code are not executed yet until we correct the error

InvalidOperationError: `round` operation not supported for dtype `str`